.product-image {
  width: 680px;
  height: 680px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-options {
  width: 80px;
  height: 80px;
  display: flex; /* 使用彈性容器排列子元素 */
}

.color-options img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
